<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Process Grid - Flow</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Process Grid - Flow</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/hgv-28a5eab4190e4834.png" alt="Process Grid - Flow" usemap="#hgv-28a5eab4190e4834map"/>
			   <map name="hgv-28a5eab4190e4834map">
				  		<area shape="rect" coords="2135,355,2255,410" href="../views/view-7f7c71999c2fd03f25aeb11eea537643.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="2010,355,2130,410" href="../views/view-c90096fe6d12dfd9d36e04d74f3baf20.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1885,355,2005,410" href="../views/view-09835c7eac828ff81dd05f8f6314e5aa.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1885,299,2255,355" href="../views/v43_view-Problem_Management_PM_processes.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="2135,239,2255,294" href="../views/view-a2d2b0409bec227a57f64b399b9e6356.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="2010,239,2130,294" href="../views/view-a5a4ab9024d9312de0edce858149b785.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1885,239,2005,294" href="../views/view-820c34df6a089cbd7cdc5ae477ebeae1.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1885,183,2255,239" href="../views/v41_view-Incident_Service_Request_Management_ISRM_processes.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1885,103,2255,183" href="../views/v39_view-Service_Operations_processes.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1760,471,1880,526" href="../views/view-37756b0642ee54b6767d090c38d53afe.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1635,471,1755,526" href="../views/view-413a67767f897849e2ed6256a33edc1e.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1510,471,1630,526" href="../views/view-60ba3305f9b4ccd445d8f367d429c5d1.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1510,415,1880,471" href="../views/v37_view-Service_Reporting_Management_SRM_processes.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1760,355,1880,410" href="../views/view-37274edd3e3b0d12248ff1309d7e1623.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1635,355,1755,410" href="../views/view-7d4a6a0332787ff924c9c710db13933c.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1510,355,1630,410" href="../views/view-124112781ca7c0cc5d026a4deac9a9f9.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1510,299,1880,355" href="../views/v35_view-Service_Portfolio_Management_SPM_processes.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1760,239,1880,294" href="../views/view-5356c97d600f04ca6453588be8fd372d.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1635,239,1755,294" href="../views/view-1d9d83a72420dbc25b81de8656386a5d.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1510,239,1630,294" href="../views/view-8e9338535b4858363386b7f5808dbe69.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1510,183,1880,239" href="../views/v33_view-Service_Level_Management_SLM_processes.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1510,103,1880,183" href="../views/v31_view-Service_Design_processes.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1385,531,1505,586" href="../views/view-60823071e0c265538a0ac4d818ea386c.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1260,531,1380,586" href="../views/view-880753e36fb96533ab417a6cf2ddc08b.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1135,531,1255,586" href="../views/view-2b5ac7ee2f9a90d32ee3cc13b2ebd03f.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1135,475,1505,531" href="../views/v29_view-Service_Availability_Continuity_Management_SACM_processes.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1135,415,1255,470" href="../views/view-ce39e80417da24f25356ebf0aaeb8996.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1385,355,1505,410" href="../views/view-7f135c6aca0f3ef76d3c38568e36b203.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1260,355,1380,410" href="../views/view-c261d786e248b5b6d6083296fc9d3752.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1135,355,1255,410" href="../views/view-3e6ef2e45e422b2f88971be63cf5c7a0.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1135,299,1505,355" href="../views/v27_view-Information_Security_Management_ISM_processes.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1385,239,1505,294" href="../views/view-6cfed6150f099adc76c6297640cd871b.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1260,239,1380,294" href="../views/view-b9b3d78fdb83021fb4c94b7dca86fcc4.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1135,239,1255,294" href="../views/view-447a64510da34d950afd61719372d9b8.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1135,183,1505,239" href="../views/v24_view-Capacity_Management_CAPM_processes.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1135,103,1505,183" href="../views/v25_view-Service_Assurance_processes.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="885,415,1005,470" href="../views/view-aaba7febe410505161a83845f7769b7f.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="760,415,880,470" href="../views/view-6d25612662aeb5ed7b7a99c2249f6a41.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="760,359,1130,415" href="../views/v21_view-Supplier_Relationship_Management_SUPPM_processes.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="760,299,880,354" href="../views/view-9cdbf468139816ca8393a35c9fdffda0.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1010,239,1130,294" href="../views/view-b4124e81368fb323ca807a130294aad3.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="885,239,1005,294" href="../views/view-387ab778a940bf32b5d8cd769f27fcd8.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="760,239,880,294" href="../views/view-aa9d21d400c1e294beedc8fdf3aa70eb.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="760,183,1130,239" href="../views/v18_view-Customer_Relationship_Management_CRM_processes.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="760,103,1130,183" href="../views/v19_view-Relationship_Management_processes.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="510,239,630,294" href="../views/view-944232ff6a80174687e8d712b6f5299a.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="385,239,505,294" href="../views/view-a2cf00daddab46c07b610c33af1b4340.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="385,183,755,239" href="../views/v11_view-Continual_Service_Improvement_Management_CSI_processes.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="385,103,755,183" href="../views/v12_view-Improvement_processes.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="135,471,255,526" href="../views/view-d3d834a5dbd10abc3b96cdb2d410f2a0.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="10,471,130,526" href="../views/view-964945cd71d07a69737c396ec1398663.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="10,415,380,471" href="../views/v8_view-Release_Deployment_Management_RDM_processes.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="135,355,255,410" href="../views/view-2cb3666b368ad9c55dea8f113f136d07.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="10,355,130,410" href="../views/view-a74c0f81eec0e6610c46d0698bf924e0.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="10,299,380,355" href="../views/v5_view-Configuration_Management_CONFM_processes.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="135,239,255,294" href="../views/view-2c30f05b1b118eb9aa44f03804139ec4.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="10,239,130,294" href="../views/view-bc0cc06681bb37dba26dc84fe537c0e4.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="10,183,380,239" href="../views/v3_view-Change_Management_CHM_processes.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="10,103,380,183" href="../views/v6_view-Control_Change_processes.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="10,10,2255,98" href="../views/view-f447221c03a14e1c.html"  target="view">
				      <!-- Other diagram objects -->

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>generated_by</td><td class="convertlinks no-margin" style="white-space:pre-wrap">hierarchical_grid.py::build_grid_view[Process hGrid - Flow]</td></tr><tr><td>generator_path</td><td class="convertlinks no-margin" style="white-space:pre-wrap">pedro/capabilities/hierarchical_grid/hierarchical_grid.py</td></tr><tr><td>run_at</td><td class="convertlinks no-margin" style="white-space:pre-wrap">2026-06-26T09:54:29</td></tr><tr><td>model_code</td><td class="convertlinks no-margin" style="white-space:pre-wrap">ITSMB full v2</td></tr><tr><td>announcement</td><td class="convertlinks no-margin" style="white-space:pre-wrap">no</td></tr>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../views/view-f447221c03a14e1c.html" target="view"> Capabilities Overview </a> </td>
											    <td> <a href="../views/view-f447221c03a14e1c.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/v6_view-Control_Change_processes.html" target="view"> Control & Change (processes) </a> </td>
											    <td> <a href="../views/v6_view-Control_Change_processes.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/v3_view-Change_Management_CHM_processes.html" target="view"> Change Management (CHM) (processes) </a> </td>
											    <td> <a href="../views/v3_view-Change_Management_CHM_processes.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/view-bc0cc06681bb37dba26dc84fe537c0e4.html" target="view"> Manage change evaluation and approval - Flow </a> </td>
											    <td> <a href="../views/view-bc0cc06681bb37dba26dc84fe537c0e4.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/view-2c30f05b1b118eb9aa44f03804139ec4.html" target="view"> Manage change implementation and review </a> </td>
											    <td> <a href="../views/view-2c30f05b1b118eb9aa44f03804139ec4.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/v5_view-Configuration_Management_CONFM_processes.html" target="view"> Configuration Management (CONFM) (processes) </a> </td>
											    <td> <a href="../views/v5_view-Configuration_Management_CONFM_processes.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/view-a74c0f81eec0e6610c46d0698bf924e0.html" target="view"> Maintain configuration information - Flow </a> </td>
											    <td> <a href="../views/view-a74c0f81eec0e6610c46d0698bf924e0.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/view-2cb3666b368ad9c55dea8f113f136d07.html" target="view"> Verify configuration information - Flow </a> </td>
											    <td> <a href="../views/view-2cb3666b368ad9c55dea8f113f136d07.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/v8_view-Release_Deployment_Management_RDM_processes.html" target="view"> Release & Deployment Management (RDM) (processes) </a> </td>
											    <td> <a href="../views/v8_view-Release_Deployment_Management_RDM_processes.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/view-964945cd71d07a69737c396ec1398663.html" target="view"> Release deployment - Flow </a> </td>
											    <td> <a href="../views/view-964945cd71d07a69737c396ec1398663.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/view-d3d834a5dbd10abc3b96cdb2d410f2a0.html" target="view"> Release planning - Flow </a> </td>
											    <td> <a href="../views/view-d3d834a5dbd10abc3b96cdb2d410f2a0.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/v12_view-Improvement_processes.html" target="view"> Improvement (processes) </a> </td>
											    <td> <a href="../views/v12_view-Improvement_processes.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/v11_view-Continual_Service_Improvement_Management_CSI_processes.html" target="view"> Continual Service Improvement Management (CSI) (processes) </a> </td>
											    <td> <a href="../views/v11_view-Continual_Service_Improvement_Management_CSI_processes.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/view-a2cf00daddab46c07b610c33af1b4340.html" target="view"> Manage evaluation of improvements - Flow </a> </td>
											    <td> <a href="../views/view-a2cf00daddab46c07b610c33af1b4340.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/view-944232ff6a80174687e8d712b6f5299a.html" target="view"> Manage implementation of improvements - Flow </a> </td>
											    <td> <a href="../views/view-944232ff6a80174687e8d712b6f5299a.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/v19_view-Relationship_Management_processes.html" target="view"> Relationship Management (processes) </a> </td>
											    <td> <a href="../views/v19_view-Relationship_Management_processes.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/v18_view-Customer_Relationship_Management_CRM_processes.html" target="view"> Customer Relationship Management (CRM) (processes) </a> </td>
											    <td> <a href="../views/v18_view-Customer_Relationship_Management_CRM_processes.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/view-aa9d21d400c1e294beedc8fdf3aa70eb.html" target="view"> Handle customer complaints - Flow </a> </td>
											    <td> <a href="../views/view-aa9d21d400c1e294beedc8fdf3aa70eb.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/view-387ab778a940bf32b5d8cd769f27fcd8.html" target="view"> Maintain the customer database - Flow </a> </td>
											    <td> <a href="../views/view-387ab778a940bf32b5d8cd769f27fcd8.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/view-b4124e81368fb323ca807a130294aad3.html" target="view"> Manage customer satisfaction - Flow </a> </td>
											    <td> <a href="../views/view-b4124e81368fb323ca807a130294aad3.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/view-9cdbf468139816ca8393a35c9fdffda0.html" target="view"> Perform customer service reviews - Flow </a> </td>
											    <td> <a href="../views/view-9cdbf468139816ca8393a35c9fdffda0.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/v21_view-Supplier_Relationship_Management_SUPPM_processes.html" target="view"> Supplier Relationship Management (SUPPM) (processes) </a> </td>
											    <td> <a href="../views/v21_view-Supplier_Relationship_Management_SUPPM_processes.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/view-6d25612662aeb5ed7b7a99c2249f6a41.html" target="view"> Maintain the supplier database - Flow </a> </td>
											    <td> <a href="../views/view-6d25612662aeb5ed7b7a99c2249f6a41.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/view-aaba7febe410505161a83845f7769b7f.html" target="view"> Monitor supplier performance - Flow </a> </td>
											    <td> <a href="../views/view-aaba7febe410505161a83845f7769b7f.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/v25_view-Service_Assurance_processes.html" target="view"> Service Assurance (processes) </a> </td>
											    <td> <a href="../views/v25_view-Service_Assurance_processes.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/v24_view-Capacity_Management_CAPM_processes.html" target="view"> Capacity Management (CAPM) (processes) </a> </td>
											    <td> <a href="../views/v24_view-Capacity_Management_CAPM_processes.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/view-447a64510da34d950afd61719372d9b8.html" target="view"> Evaluate service performance - Flow </a> </td>
											    <td> <a href="../views/view-447a64510da34d950afd61719372d9b8.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/view-b9b3d78fdb83021fb4c94b7dca86fcc4.html" target="view"> Identify service capacity and performance requirements - Flow </a> </td>
											    <td> <a href="../views/view-b9b3d78fdb83021fb4c94b7dca86fcc4.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/view-6cfed6150f099adc76c6297640cd871b.html" target="view"> Maintain and implement capacity plans - Flow </a> </td>
											    <td> <a href="../views/view-6cfed6150f099adc76c6297640cd871b.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/v27_view-Information_Security_Management_ISM_processes.html" target="view"> Information Security Management (ISM) (processes) </a> </td>
											    <td> <a href="../views/v27_view-Information_Security_Management_ISM_processes.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/view-3e6ef2e45e422b2f88971be63cf5c7a0.html" target="view"> Evaluate information security - Flow </a> </td>
											    <td> <a href="../views/view-3e6ef2e45e422b2f88971be63cf5c7a0.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/view-c261d786e248b5b6d6083296fc9d3752.html" target="view"> Identify information security requirements - Flow </a> </td>
											    <td> <a href="../views/view-c261d786e248b5b6d6083296fc9d3752.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/view-7f135c6aca0f3ef76d3c38568e36b203.html" target="view"> Maintain and implement information security controls and policies - Flow </a> </td>
											    <td> <a href="../views/view-7f135c6aca0f3ef76d3c38568e36b203.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/view-ce39e80417da24f25356ebf0aaeb8996.html" target="view"> Perform access control - Flow </a> </td>
											    <td> <a href="../views/view-ce39e80417da24f25356ebf0aaeb8996.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/v29_view-Service_Availability_Continuity_Management_SACM_processes.html" target="view"> Service Availability & Continuity Management (SACM) (processes) </a> </td>
											    <td> <a href="../views/v29_view-Service_Availability_Continuity_Management_SACM_processes.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/view-2b5ac7ee2f9a90d32ee3cc13b2ebd03f.html" target="view"> Evaluate service availability and continuity - Flow </a> </td>
											    <td> <a href="../views/view-2b5ac7ee2f9a90d32ee3cc13b2ebd03f.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/view-880753e36fb96533ab417a6cf2ddc08b.html" target="view"> Identify service availability and continuity requirements - Flow </a> </td>
											    <td> <a href="../views/view-880753e36fb96533ab417a6cf2ddc08b.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/view-60823071e0c265538a0ac4d818ea386c.html" target="view"> Maintain and implement service availability and continuity plans - Flow </a> </td>
											    <td> <a href="../views/view-60823071e0c265538a0ac4d818ea386c.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/v31_view-Service_Design_processes.html" target="view"> Service Design (processes) </a> </td>
											    <td> <a href="../views/v31_view-Service_Design_processes.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/v33_view-Service_Level_Management_SLM_processes.html" target="view"> Service Level Management (SLM) (processes) </a> </td>
											    <td> <a href="../views/v33_view-Service_Level_Management_SLM_processes.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/view-8e9338535b4858363386b7f5808dbe69.html" target="view"> Maintain SLAs - Flow </a> </td>
											    <td> <a href="../views/view-8e9338535b4858363386b7f5808dbe69.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/view-1d9d83a72420dbc25b81de8656386a5d.html" target="view"> Maintain service catalogues - Flow </a> </td>
											    <td> <a href="../views/view-1d9d83a72420dbc25b81de8656386a5d.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/view-5356c97d600f04ca6453588be8fd372d.html" target="view"> Maintain supporting agreements (OLAs and UAs) - Flow </a> </td>
											    <td> <a href="../views/view-5356c97d600f04ca6453588be8fd372d.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/v35_view-Service_Portfolio_Management_SPM_processes.html" target="view"> Service Portfolio Management (SPM) (processes) </a> </td>
											    <td> <a href="../views/v35_view-Service_Portfolio_Management_SPM_processes.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/view-124112781ca7c0cc5d026a4deac9a9f9.html" target="view"> Maintain the service portfolio - Flow </a> </td>
											    <td> <a href="../views/view-124112781ca7c0cc5d026a4deac9a9f9.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/view-7d4a6a0332787ff924c9c710db13933c.html" target="view"> Manage demand and service proposals - Flow </a> </td>
											    <td> <a href="../views/view-7d4a6a0332787ff924c9c710db13933c.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/view-37274edd3e3b0d12248ff1309d7e1623.html" target="view"> Manage services through their lifecycle - Flow </a> </td>
											    <td> <a href="../views/view-37274edd3e3b0d12248ff1309d7e1623.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/v37_view-Service_Reporting_Management_SRM_processes.html" target="view"> Service Reporting Management (SRM) (processes) </a> </td>
											    <td> <a href="../views/v37_view-Service_Reporting_Management_SRM_processes.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/view-60ba3305f9b4ccd445d8f367d429c5d1.html" target="view"> Identify reporting requirements - Flow </a> </td>
											    <td> <a href="../views/view-60ba3305f9b4ccd445d8f367d429c5d1.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/view-413a67767f897849e2ed6256a33edc1e.html" target="view"> Maintain report specifications - Flow </a> </td>
											    <td> <a href="../views/view-413a67767f897849e2ed6256a33edc1e.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/view-37756b0642ee54b6767d090c38d53afe.html" target="view"> Monitor the production and distribution of reports - Flow </a> </td>
											    <td> <a href="../views/view-37756b0642ee54b6767d090c38d53afe.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/v39_view-Service_Operations_processes.html" target="view"> Service Operations (processes) </a> </td>
											    <td> <a href="../views/v39_view-Service_Operations_processes.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/v41_view-Incident_Service_Request_Management_ISRM_processes.html" target="view"> Incident & Service Request Management (ISRM) (processes) </a> </td>
											    <td> <a href="../views/v41_view-Incident_Service_Request_Management_ISRM_processes.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/view-820c34df6a089cbd7cdc5ae477ebeae1.html" target="view"> Manage incidents and service requests - Flow </a> </td>
											    <td> <a href="../views/view-820c34df6a089cbd7cdc5ae477ebeae1.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/view-a5a4ab9024d9312de0edce858149b785.html" target="view"> Manage major incidents - Flow </a> </td>
											    <td> <a href="../views/view-a5a4ab9024d9312de0edce858149b785.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/view-a2d2b0409bec227a57f64b399b9e6356.html" target="view"> Manage workflows needed to resolve incidents and fulfil service requests - Flow </a> </td>
											    <td> <a href="../views/view-a2d2b0409bec227a57f64b399b9e6356.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/v43_view-Problem_Management_PM_processes.html" target="view"> Problem Management (PM) (processes) </a> </td>
											    <td> <a href="../views/v43_view-Problem_Management_PM_processes.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/view-09835c7eac828ff81dd05f8f6314e5aa.html" target="view"> Handle problems - Flow </a> </td>
											    <td> <a href="../views/view-09835c7eac828ff81dd05f8f6314e5aa.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/view-c90096fe6d12dfd9d36e04d74f3baf20.html" target="view"> Identify problems - Flow </a> </td>
											    <td> <a href="../views/view-c90096fe6d12dfd9d36e04d74f3baf20.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/view-7f7c71999c2fd03f25aeb11eea537643.html" target="view"> Maintain the KEDB - Flow </a> </td>
											    <td> <a href="../views/view-7f7c71999c2fd03f25aeb11eea537643.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>