<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Business Catalogue</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Business Catalogue</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/hgv-b18610aab0f4463b.png" alt="Business Catalogue" usemap="#hgv-b18610aab0f4463bmap"/>
			   <map name="hgv-b18610aab0f4463bmap">
				  		<area shape="rect" coords="2135,355,2255,410" href="../elements/id-fitsm-pr10-ag3.html"  target="element">
				  		<area shape="rect" coords="2010,355,2130,410" href="../elements/id-fitsm-pr10-ag1.html"  target="element">
				  		<area shape="rect" coords="1885,355,2005,410" href="../elements/id-fitsm-pr10-ag2.html"  target="element">
				  		<area shape="rect" coords="1885,299,2255,355" href="../elements/id-fitsm-pr10.html"  target="element">
				  		<area shape="rect" coords="2135,239,2255,294" href="../elements/id-fitsm-pr9-ag3.html"  target="element">
				  		<area shape="rect" coords="2010,239,2130,294" href="../elements/id-fitsm-pr9-ag2.html"  target="element">
				  		<area shape="rect" coords="1885,239,2005,294" href="../elements/id-fitsm-pr9-ag1.html"  target="element">
				  		<area shape="rect" coords="1885,183,2255,239" href="../elements/id-fitsm-pr9.html"  target="element">
				  		<area shape="rect" coords="1885,103,2255,183" href="../elements/id-fitsm-dom-4.html"  target="element">
				  		<area shape="rect" coords="1760,471,1880,526" href="../elements/id-fitsm-pr3-ag3.html"  target="element">
				  		<area shape="rect" coords="1635,471,1755,526" href="../elements/id-fitsm-pr3-ag2.html"  target="element">
				  		<area shape="rect" coords="1510,471,1630,526" href="../elements/id-fitsm-pr3-ag1.html"  target="element">
				  		<area shape="rect" coords="1510,415,1880,471" href="../elements/id-fitsm-pr3.html"  target="element">
				  		<area shape="rect" coords="1760,355,1880,410" href="../elements/id-fitsm-pr1-ag3.html"  target="element">
				  		<area shape="rect" coords="1635,355,1755,410" href="../elements/id-fitsm-pr1-ag1.html"  target="element">
				  		<area shape="rect" coords="1510,355,1630,410" href="../elements/id-fitsm-pr1-ag2.html"  target="element">
				  		<area shape="rect" coords="1510,299,1880,355" href="../elements/id-fitsm-pr1.html"  target="element">
				  		<area shape="rect" coords="1760,239,1880,294" href="../elements/id-fitsm-pr2-ag3.html"  target="element">
				  		<area shape="rect" coords="1635,239,1755,294" href="../elements/id-fitsm-pr2-ag1.html"  target="element">
				  		<area shape="rect" coords="1510,239,1630,294" href="../elements/id-fitsm-pr2-ag2.html"  target="element">
				  		<area shape="rect" coords="1510,183,1880,239" href="../elements/id-fitsm-pr2.html"  target="element">
				  		<area shape="rect" coords="1510,103,1880,183" href="../elements/id-fitsm-dom-1.html"  target="element">
				  		<area shape="rect" coords="1385,531,1505,586" href="../elements/id-fitsm-pr4-ag2.html"  target="element">
				  		<area shape="rect" coords="1260,531,1380,586" href="../elements/id-fitsm-pr4-ag1.html"  target="element">
				  		<area shape="rect" coords="1135,531,1255,586" href="../elements/id-fitsm-pr4-ag3.html"  target="element">
				  		<area shape="rect" coords="1135,475,1505,531" href="../elements/id-fitsm-pr4.html"  target="element">
				  		<area shape="rect" coords="1135,415,1255,470" href="../elements/id-fitsm-pr6-ag4.html"  target="element">
				  		<area shape="rect" coords="1385,355,1505,410" href="../elements/id-fitsm-pr6-ag2.html"  target="element">
				  		<area shape="rect" coords="1260,355,1380,410" href="../elements/id-fitsm-pr6-ag1.html"  target="element">
				  		<area shape="rect" coords="1135,355,1255,410" href="../elements/id-fitsm-pr6-ag3.html"  target="element">
				  		<area shape="rect" coords="1135,299,1505,355" href="../elements/id-fitsm-pr6.html"  target="element">
				  		<area shape="rect" coords="1385,239,1505,294" href="../elements/id-fitsm-pr5-ag2.html"  target="element">
				  		<area shape="rect" coords="1260,239,1380,294" href="../elements/id-fitsm-pr5-ag1.html"  target="element">
				  		<area shape="rect" coords="1135,239,1255,294" href="../elements/id-fitsm-pr5-ag3.html"  target="element">
				  		<area shape="rect" coords="1135,183,1505,239" href="../elements/id-fitsm-pr5.html"  target="element">
				  		<area shape="rect" coords="1135,103,1505,183" href="../elements/id-fitsm-dom-2.html"  target="element">
				  		<area shape="rect" coords="885,415,1005,470" href="../elements/id-fitsm-pr8-ag2.html"  target="element">
				  		<area shape="rect" coords="760,415,880,470" href="../elements/id-fitsm-pr8-ag1.html"  target="element">
				  		<area shape="rect" coords="760,359,1130,415" href="../elements/id-fitsm-pr8.html"  target="element">
				  		<area shape="rect" coords="760,299,880,354" href="../elements/id-fitsm-pr7-ag2.html"  target="element">
				  		<area shape="rect" coords="1010,239,1130,294" href="../elements/id-fitsm-pr7-ag4.html"  target="element">
				  		<area shape="rect" coords="885,239,1005,294" href="../elements/id-fitsm-pr7-ag1.html"  target="element">
				  		<area shape="rect" coords="760,239,880,294" href="../elements/id-fitsm-pr7-ag3.html"  target="element">
				  		<area shape="rect" coords="760,183,1130,239" href="../elements/id-fitsm-pr7.html"  target="element">
				  		<area shape="rect" coords="760,103,1130,183" href="../elements/id-fitsm-dom-3.html"  target="element">
				  		<area shape="rect" coords="510,239,630,294" href="../elements/id-fitsm-pr14-ag2.html"  target="element">
				  		<area shape="rect" coords="385,239,505,294" href="../elements/id-fitsm-pr14-ag1.html"  target="element">
				  		<area shape="rect" coords="385,183,755,239" href="../elements/id-fitsm-pr14.html"  target="element">
				  		<area shape="rect" coords="385,103,755,183" href="../elements/id-fitsm-dom-6.html"  target="element">
				  		<area shape="rect" coords="135,471,255,526" href="../elements/id-fitsm-pr13-ag1.html"  target="element">
				  		<area shape="rect" coords="10,471,130,526" href="../elements/id-fitsm-pr13-ag2.html"  target="element">
				  		<area shape="rect" coords="10,415,380,471" href="../elements/id-fitsm-pr13.html"  target="element">
				  		<area shape="rect" coords="135,355,255,410" href="../elements/id-fitsm-pr11-ag2.html"  target="element">
				  		<area shape="rect" coords="10,355,130,410" href="../elements/id-fitsm-pr11-ag1.html"  target="element">
				  		<area shape="rect" coords="10,299,380,355" href="../elements/id-fitsm-pr11.html"  target="element">
				  		<area shape="rect" coords="135,239,255,294" href="../elements/id-fitsm-pr12-ag2.html"  target="element">
				  		<area shape="rect" coords="10,239,130,294" href="../elements/id-fitsm-pr12-ag1.html"  target="element">
				  		<area shape="rect" coords="10,183,380,239" href="../elements/id-fitsm-pr12.html"  target="element">
				  		<area shape="rect" coords="10,103,380,183" href="../elements/id-fitsm-dom-5.html"  target="element">
				  		<area shape="rect" coords="10,10,2255,98" href="../views/v14_view-overview_domains.html"  target="view">
				      <!-- Other diagram objects -->

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>generated_by</td><td class="convertlinks no-margin" style="white-space:pre-wrap">hierarchical_grid.py::build_grid_view[Business Catalogue]</td></tr><tr><td>generator_path</td><td class="convertlinks no-margin" style="white-space:pre-wrap">pedro/capabilities/hierarchical_grid/hierarchical_grid.py</td></tr><tr><td>run_at</td><td class="convertlinks no-margin" style="white-space:pre-wrap">2026-06-26T09:54:29</td></tr><tr><td>model_code</td><td class="convertlinks no-margin" style="white-space:pre-wrap">ITSMB full v2</td></tr>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../views/v14_view-overview_domains.html" target="view"> Domain Overview </a> </td>
											    <td> <a href="../views/v14_view-overview_domains.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-fitsm-dom-5.html" target="element"> Control &amp; Change </a> </td>
											    <td> <a href="../elements/id-fitsm-dom-5.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr12.html" target="element"> Change Management (CHM) </a> </td>
											    <td> <a href="../elements/id-fitsm-pr12.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr12-ag1.html" target="element"> Manage change evaluation and approval </a> </td>
											    <td> <a href="../elements/id-fitsm-pr12-ag1.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr12-ag2.html" target="element"> Manage change implementation and review </a> </td>
											    <td> <a href="../elements/id-fitsm-pr12-ag2.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr11.html" target="element"> Configuration Management (CONFM) </a> </td>
											    <td> <a href="../elements/id-fitsm-pr11.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr11-ag1.html" target="element"> Maintain configuration information </a> </td>
											    <td> <a href="../elements/id-fitsm-pr11-ag1.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr11-ag2.html" target="element"> Verify configuration information </a> </td>
											    <td> <a href="../elements/id-fitsm-pr11-ag2.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr13.html" target="element"> Release &amp; Deployment Management (RDM) </a> </td>
											    <td> <a href="../elements/id-fitsm-pr13.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr13-ag2.html" target="element"> Release deployment </a> </td>
											    <td> <a href="../elements/id-fitsm-pr13-ag2.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr13-ag1.html" target="element"> Release planning </a> </td>
											    <td> <a href="../elements/id-fitsm-pr13-ag1.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-dom-6.html" target="element"> Improvement </a> </td>
											    <td> <a href="../elements/id-fitsm-dom-6.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr14.html" target="element"> Continual Service Improvement Management (CSI) </a> </td>
											    <td> <a href="../elements/id-fitsm-pr14.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr14-ag1.html" target="element"> Manage evaluation of improvements </a> </td>
											    <td> <a href="../elements/id-fitsm-pr14-ag1.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr14-ag2.html" target="element"> Manage implementation of improvements </a> </td>
											    <td> <a href="../elements/id-fitsm-pr14-ag2.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-dom-3.html" target="element"> Relationship Management </a> </td>
											    <td> <a href="../elements/id-fitsm-dom-3.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr7.html" target="element"> Customer Relationship Management (CRM) </a> </td>
											    <td> <a href="../elements/id-fitsm-pr7.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr7-ag3.html" target="element"> Handle customer complaints </a> </td>
											    <td> <a href="../elements/id-fitsm-pr7-ag3.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr7-ag1.html" target="element"> Maintain the customer database </a> </td>
											    <td> <a href="../elements/id-fitsm-pr7-ag1.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr7-ag4.html" target="element"> Manage customer satisfaction </a> </td>
											    <td> <a href="../elements/id-fitsm-pr7-ag4.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr7-ag2.html" target="element"> Perform customer service reviews </a> </td>
											    <td> <a href="../elements/id-fitsm-pr7-ag2.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr8.html" target="element"> Supplier Relationship Management (SUPPM) </a> </td>
											    <td> <a href="../elements/id-fitsm-pr8.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr8-ag1.html" target="element"> Maintain the supplier database </a> </td>
											    <td> <a href="../elements/id-fitsm-pr8-ag1.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr8-ag2.html" target="element"> Monitor supplier performance </a> </td>
											    <td> <a href="../elements/id-fitsm-pr8-ag2.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-dom-2.html" target="element"> Service Assurance </a> </td>
											    <td> <a href="../elements/id-fitsm-dom-2.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr5.html" target="element"> Capacity Management (CAPM) </a> </td>
											    <td> <a href="../elements/id-fitsm-pr5.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr5-ag3.html" target="element"> Evaluate service performance </a> </td>
											    <td> <a href="../elements/id-fitsm-pr5-ag3.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr5-ag1.html" target="element"> Identify service capacity and performance requirements </a> </td>
											    <td> <a href="../elements/id-fitsm-pr5-ag1.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr5-ag2.html" target="element"> Maintain and implement capacity plans </a> </td>
											    <td> <a href="../elements/id-fitsm-pr5-ag2.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr6.html" target="element"> Information Security Management (ISM) </a> </td>
											    <td> <a href="../elements/id-fitsm-pr6.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr6-ag3.html" target="element"> Evaluate information security </a> </td>
											    <td> <a href="../elements/id-fitsm-pr6-ag3.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr6-ag1.html" target="element"> Identify information security requirements </a> </td>
											    <td> <a href="../elements/id-fitsm-pr6-ag1.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr6-ag2.html" target="element"> Maintain and implement information security controls and policies </a> </td>
											    <td> <a href="../elements/id-fitsm-pr6-ag2.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr6-ag4.html" target="element"> Perform access control </a> </td>
											    <td> <a href="../elements/id-fitsm-pr6-ag4.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr4.html" target="element"> Service Availability &amp; Continuity Management (SACM) </a> </td>
											    <td> <a href="../elements/id-fitsm-pr4.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr4-ag3.html" target="element"> Evaluate service availability and continuity </a> </td>
											    <td> <a href="../elements/id-fitsm-pr4-ag3.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr4-ag1.html" target="element"> Identify service availability and continuity requirements </a> </td>
											    <td> <a href="../elements/id-fitsm-pr4-ag1.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr4-ag2.html" target="element"> Maintain and implement service availability and continuity plans </a> </td>
											    <td> <a href="../elements/id-fitsm-pr4-ag2.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-dom-1.html" target="element"> Service Design </a> </td>
											    <td> <a href="../elements/id-fitsm-dom-1.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr2.html" target="element"> Service Level Management (SLM) </a> </td>
											    <td> <a href="../elements/id-fitsm-pr2.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr2-ag2.html" target="element"> Maintain SLAs </a> </td>
											    <td> <a href="../elements/id-fitsm-pr2-ag2.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr2-ag1.html" target="element"> Maintain service catalogues </a> </td>
											    <td> <a href="../elements/id-fitsm-pr2-ag1.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr2-ag3.html" target="element"> Maintain supporting agreements (OLAs and UAs) </a> </td>
											    <td> <a href="../elements/id-fitsm-pr2-ag3.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr1.html" target="element"> Service Portfolio Management (SPM) </a> </td>
											    <td> <a href="../elements/id-fitsm-pr1.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr1-ag2.html" target="element"> Maintain the service portfolio </a> </td>
											    <td> <a href="../elements/id-fitsm-pr1-ag2.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr1-ag1.html" target="element"> Manage demand and service proposals </a> </td>
											    <td> <a href="../elements/id-fitsm-pr1-ag1.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr1-ag3.html" target="element"> Manage services through their lifecycle </a> </td>
											    <td> <a href="../elements/id-fitsm-pr1-ag3.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr3.html" target="element"> Service Reporting Management (SRM) </a> </td>
											    <td> <a href="../elements/id-fitsm-pr3.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr3-ag1.html" target="element"> Identify reporting requirements </a> </td>
											    <td> <a href="../elements/id-fitsm-pr3-ag1.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr3-ag2.html" target="element"> Maintain report specifications </a> </td>
											    <td> <a href="../elements/id-fitsm-pr3-ag2.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr3-ag3.html" target="element"> Monitor the production and distribution of reports </a> </td>
											    <td> <a href="../elements/id-fitsm-pr3-ag3.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-dom-4.html" target="element"> Service Operations </a> </td>
											    <td> <a href="../elements/id-fitsm-dom-4.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr9.html" target="element"> Incident &amp; Service Request Management (ISRM) </a> </td>
											    <td> <a href="../elements/id-fitsm-pr9.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr9-ag1.html" target="element"> Manage incidents and service requests </a> </td>
											    <td> <a href="../elements/id-fitsm-pr9-ag1.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr9-ag2.html" target="element"> Manage major incidents </a> </td>
											    <td> <a href="../elements/id-fitsm-pr9-ag2.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr9-ag3.html" target="element"> Manage workflows needed to resolve incidents and fulfil service requests </a> </td>
											    <td> <a href="../elements/id-fitsm-pr9-ag3.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr10.html" target="element"> Problem Management (PM) </a> </td>
											    <td> <a href="../elements/id-fitsm-pr10.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr10-ag2.html" target="element"> Handle problems </a> </td>
											    <td> <a href="../elements/id-fitsm-pr10-ag2.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr10-ag1.html" target="element"> Identify problems </a> </td>
											    <td> <a href="../elements/id-fitsm-pr10-ag1.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr10-ag3.html" target="element"> Maintain the KEDB </a> </td>
											    <td> <a href="../elements/id-fitsm-pr10-ag3.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>