<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Internal Stakeholders</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Internal Stakeholders</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-mot-itsmb-stk-internal-stakeholders.png" alt="Internal Stakeholders" usemap="#id-mot-itsmb-stk-internal-stakeholdersmap"/>
			   <map name="id-mot-itsmb-stk-internal-stakeholdersmap">
				  		<area shape="rect" coords="415,540,673,609" href="../elements/id-mot-goal-pr12.html"  target="element">
				  		<area shape="rect" coords="415,752,673,821" href="../elements/id-mot-goal-gr6.html"  target="element">
				  		<area shape="rect" coords="1224,222,1482,291" href="../elements/id-fitsm-pr1.html"  target="element">
				  		<area shape="rect" coords="819,328,1077,397" href="../elements/id-mot-out-10.html"  target="element">
				  		<area shape="rect" coords="1224,434,1482,503" href="../elements/id-fitsm-pr13.html"  target="element">
				  		<area shape="rect" coords="10,858,268,927" href="../elements/id-mot-stk-sms-owner.html"  target="element">
				  		<area shape="rect" coords="1224,116,1482,185" href="../elements/id-fitsm-pr14.html"  target="element">
				  		<area shape="rect" coords="819,752,1077,821" href="../elements/id-mot-out-12.html"  target="element">
				  		<area shape="rect" coords="415,1071,673,1140" href="../elements/id-mot-goal-pr3.html"  target="element">
				  		<area shape="rect" coords="415,434,673,503" href="../elements/id-mot-goal-gr4.html"  target="element">
				  		<area shape="rect" coords="415,858,673,927" href="../elements/id-mot-goal-gr3.html"  target="element">
				  		<area shape="rect" coords="415,328,673,397" href="../elements/id-mot-goal-pr11.html"  target="element">
				  		<area shape="rect" coords="1224,540,1482,609" href="../elements/id-fitsm-pr12.html"  target="element">
				  		<area shape="rect" coords="10,1123,268,1192" href="../elements/id-mot-stk-process-managers.html"  target="element">
				  		<area shape="rect" coords="10,540,268,609" href="../elements/id-mot-stk-sms-manager.html"  target="element">
				  		<area shape="rect" coords="415,964,673,1033" href="../elements/id-mot-goal-gr1.html"  target="element">
				  		<area shape="rect" coords="1224,10,1482,79" href="../elements/id-mot-stk-staff.html"  target="element">
				  		<area shape="rect" coords="415,222,673,291" href="../elements/id-mot-goal-pr1.html"  target="element">
				  		<area shape="rect" coords="10,170,268,239" href="../elements/id-mot-stk-process-owners.html"  target="element">
				  		<area shape="rect" coords="1224,1177,1482,1246" href="../elements/id-fitsm-pr9.html"  target="element">
				  		<area shape="rect" coords="1224,646,1482,715" href="../elements/id-fitsm-pr10.html"  target="element">
				  		<area shape="rect" coords="415,1177,673,1246" href="../elements/id-mot-goal-pr9.html"  target="element">
				  		<area shape="rect" coords="1224,328,1482,397" href="../elements/id-fitsm-pr11.html"  target="element">
				  		<area shape="rect" coords="415,116,673,185" href="../elements/id-mot-goal-pr14.html"  target="element">
				  		<area shape="rect" coords="819,116,1077,185" href="../elements/id-mot-out-11.html"  target="element">
				  		<area shape="rect" coords="1224,752,1482,821" href="../elements/id-fitsm-pr7.html"  target="element">
				  		<area shape="rect" coords="819,1177,1077,1246" href="../elements/id-mot-out-7.html"  target="element">
				  		<area shape="rect" coords="415,646,673,715" href="../elements/id-mot-goal-pr10.html"  target="element">
				  		<area shape="rect" coords="819,222,1077,291" href="../elements/id-mot-out-1.html"  target="element">
				  		<area shape="rect" coords="819,646,1077,715" href="../elements/id-mot-out-8.html"  target="element">
				  		<area shape="rect" coords="819,1071,1077,1140" href="../elements/id-mot-out-3.html"  target="element">
				  		<area shape="rect" coords="819,540,1077,609" href="../elements/id-mot-out-9.html"  target="element">
				  		<area shape="rect" coords="1224,1071,1482,1140" href="../elements/id-fitsm-pr3.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>generated_by</td><td class="convertlinks no-margin" style="white-space:pre-wrap">gen_motivation_views.py::build_dot_stakeholder</td></tr><tr><td>generator_path</td><td class="convertlinks no-margin" style="white-space:pre-wrap">pedro/capabilities/motivation/gen_motivation_views.py</td></tr><tr><td>run_at</td><td class="convertlinks no-margin" style="white-space:pre-wrap">2026-06-23</td></tr><tr><td>model_code</td><td class="convertlinks no-margin" style="white-space:pre-wrap">ITSMB</td></tr><tr><td>view_type</td><td class="convertlinks no-margin" style="white-space:pre-wrap">stakeholder_motivation</td></tr>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-fitsm-pr3.html" target="element"> Service Reporting Management (SRM) </a> </td>
											    <td> <a href="../elements/id-fitsm-pr3.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-mot-out-9.html" target="element"> Controlled change implementation with post-implementation review </a> </td>
											    <td> <a href="../elements/id-mot-out-9.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-mot-out-3.html" target="element"> Regular service reports delivered to agreed specifications </a> </td>
											    <td> <a href="../elements/id-mot-out-3.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-mot-out-8.html" target="element"> Reduced incident recurrence through known error elimination </a> </td>
											    <td> <a href="../elements/id-mot-out-8.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-mot-out-1.html" target="element"> Up-to-date validated service portfolio with lifecycle management </a> </td>
											    <td> <a href="../elements/id-mot-out-1.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-mot-goal-pr10.html" target="element"> Prevent incident recurrence through root cause resolution </a> </td>
											    <td> <a href="../elements/id-mot-goal-pr10.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-mot-out-7.html" target="element"> Resolved incidents within SLA timeframes </a> </td>
											    <td> <a href="../elements/id-mot-out-7.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr7.html" target="element"> Customer Relationship Management (CRM) </a> </td>
											    <td> <a href="../elements/id-fitsm-pr7.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-mot-out-11.html" target="element"> Documented improvements tracked to completion </a> </td>
											    <td> <a href="../elements/id-mot-out-11.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-mot-goal-pr14.html" target="element"> Continuously improve the SMS </a> </td>
											    <td> <a href="../elements/id-mot-goal-pr14.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr11.html" target="element"> Configuration Management (CONFM) </a> </td>
											    <td> <a href="../elements/id-fitsm-pr11.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-mot-goal-pr9.html" target="element"> Restore service quickly after incidents </a> </td>
											    <td> <a href="../elements/id-mot-goal-pr9.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr10.html" target="element"> Problem Management (PM) </a> </td>
											    <td> <a href="../elements/id-fitsm-pr10.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr9.html" target="element"> Incident &amp; Service Request Management (ISRM) </a> </td>
											    <td> <a href="../elements/id-fitsm-pr9.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-mot-stk-process-owners.html" target="element"> Process Owners </a> </td>
											    <td> <a href="../elements/id-mot-stk-process-owners.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-mot-goal-pr1.html" target="element"> Maintain a complete and current service portfolio </a> </td>
											    <td> <a href="../elements/id-mot-goal-pr1.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-mot-stk-staff.html" target="element"> IT Service Delivery Staff </a> </td>
											    <td> <a href="../elements/id-mot-stk-staff.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-mot-goal-gr1.html" target="element"> Establish a service and process-oriented management culture </a> </td>
											    <td> <a href="../elements/id-mot-goal-gr1.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-mot-stk-sms-manager.html" target="element"> SMS Manager </a> </td>
											    <td> <a href="../elements/id-mot-stk-sms-manager.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-mot-stk-process-managers.html" target="element"> Process Managers </a> </td>
											    <td> <a href="../elements/id-mot-stk-process-managers.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr12.html" target="element"> Change Management (CHM) </a> </td>
											    <td> <a href="../elements/id-fitsm-pr12.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-mot-goal-pr11.html" target="element"> Maintain accurate configuration baseline </a> </td>
											    <td> <a href="../elements/id-mot-goal-pr11.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-mot-goal-gr3.html" target="element"> Define and maintain the scope of the SMS </a> </td>
											    <td> <a href="../elements/id-mot-goal-gr3.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-mot-goal-gr4.html" target="element"> Implement ITSM according to a documented plan </a> </td>
											    <td> <a href="../elements/id-mot-goal-gr4.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-mot-goal-pr3.html" target="element"> Provide accurate and timely service reporting </a> </td>
											    <td> <a href="../elements/id-mot-goal-pr3.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-mot-out-12.html" target="element"> Increased ITSM maturity level assessable via FitSM-6 </a> </td>
											    <td> <a href="../elements/id-mot-out-12.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr14.html" target="element"> Continual Service Improvement Management (CSI) </a> </td>
											    <td> <a href="../elements/id-fitsm-pr14.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-mot-stk-sms-owner.html" target="element"> SMS Owner </a> </td>
											    <td> <a href="../elements/id-mot-stk-sms-owner.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr13.html" target="element"> Release &amp; Deployment Management (RDM) </a> </td>
											    <td> <a href="../elements/id-fitsm-pr13.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-mot-out-10.html" target="element"> Accurate CMDB supporting all downstream process decisions </a> </td>
											    <td> <a href="../elements/id-mot-out-10.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-pr1.html" target="element"> Service Portfolio Management (SPM) </a> </td>
											    <td> <a href="../elements/id-fitsm-pr1.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-mot-goal-gr6.html" target="element"> Achieve measurable improvement in SMS effectiveness </a> </td>
											    <td> <a href="../elements/id-mot-goal-gr6.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-mot-goal-pr12.html" target="element"> Control changes to avoid service disruption </a> </td>
											    <td> <a href="../elements/id-mot-goal-pr12.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-mot-rel-cap-pr3-out3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-mot-rel-cap-pr3-out3.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fitsm-pr3.html" target="element"> Service Reporting Management (SRM) </a> </td>
																		<td> <a href="../elements/id-mot-out-3.html" target="element"> Regular service reports delivered to agreed specifications </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-mot-rel-out9-goal-pr12.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-mot-rel-out9-goal-pr12.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-mot-out-9.html" target="element"> Controlled change implementation with post-implementation review </a> </td>
																		<td> <a href="../elements/id-mot-goal-pr12.html" target="element"> Control changes to avoid service disruption </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-mot-rel-out3-goal-pr3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-mot-rel-out3-goal-pr3.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-mot-out-3.html" target="element"> Regular service reports delivered to agreed specifications </a> </td>
																		<td> <a href="../elements/id-mot-goal-pr3.html" target="element"> Provide accurate and timely service reporting </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-mot-rel-out8-goal-pr10.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-mot-rel-out8-goal-pr10.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-mot-out-8.html" target="element"> Reduced incident recurrence through known error elimination </a> </td>
																		<td> <a href="../elements/id-mot-goal-pr10.html" target="element"> Prevent incident recurrence through root cause resolution </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-mot-rel-out1-goal-pr1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-mot-rel-out1-goal-pr1.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-mot-out-1.html" target="element"> Up-to-date validated service portfolio with lifecycle management </a> </td>
																		<td> <a href="../elements/id-mot-goal-pr1.html" target="element"> Maintain a complete and current service portfolio </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-mot-rel-stk-sms-manager-pr10.html" target="element"> is important for </a> </td>
																		<td> <a href="../elements/id-mot-rel-stk-sms-manager-pr10.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-mot-goal-pr10.html" target="element"> Prevent incident recurrence through root cause resolution </a> </td>
																		<td> <a href="../elements/id-mot-stk-sms-manager.html" target="element"> SMS Manager </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-mot-rel-out7-goal-pr9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-mot-rel-out7-goal-pr9.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-mot-out-7.html" target="element"> Resolved incidents within SLA timeframes </a> </td>
																		<td> <a href="../elements/id-mot-goal-pr9.html" target="element"> Restore service quickly after incidents </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-mot-rel-cap-pr7-out12.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-mot-rel-cap-pr7-out12.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fitsm-pr7.html" target="element"> Customer Relationship Management (CRM) </a> </td>
																		<td> <a href="../elements/id-mot-out-12.html" target="element"> Increased ITSM maturity level assessable via FitSM-6 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-mot-rel-out11-goal-pr14.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-mot-rel-out11-goal-pr14.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-mot-out-11.html" target="element"> Documented improvements tracked to completion </a> </td>
																		<td> <a href="../elements/id-mot-goal-pr14.html" target="element"> Continuously improve the SMS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-mot-rel-stk-proc-owners-pr14.html" target="element"> is important for </a> </td>
																		<td> <a href="../elements/id-mot-rel-stk-proc-owners-pr14.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-mot-goal-pr14.html" target="element"> Continuously improve the SMS </a> </td>
																		<td> <a href="../elements/id-mot-stk-process-owners.html" target="element"> Process Owners </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-mot-rel-cap-pr11-out10.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-mot-rel-cap-pr11-out10.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fitsm-pr11.html" target="element"> Configuration Management (CONFM) </a> </td>
																		<td> <a href="../elements/id-mot-out-10.html" target="element"> Accurate CMDB supporting all downstream process decisions </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-mot-rel-stk-proc-managers-pr9.html" target="element"> is important for </a> </td>
																		<td> <a href="../elements/id-mot-rel-stk-proc-managers-pr9.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-mot-goal-pr9.html" target="element"> Restore service quickly after incidents </a> </td>
																		<td> <a href="../elements/id-mot-stk-process-managers.html" target="element"> Process Managers </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-mot-rel-cap-pr10-out8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-mot-rel-cap-pr10-out8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fitsm-pr10.html" target="element"> Problem Management (PM) </a> </td>
																		<td> <a href="../elements/id-mot-out-8.html" target="element"> Reduced incident recurrence through known error elimination </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-mot-rel-cap-pr9-out7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-mot-rel-cap-pr9-out7.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fitsm-pr9.html" target="element"> Incident &amp; Service Request Management (ISRM) </a> </td>
																		<td> <a href="../elements/id-mot-out-7.html" target="element"> Resolved incidents within SLA timeframes </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-mot-rel-stk-proc-owners-pr1.html" target="element"> is important for </a> </td>
																		<td> <a href="../elements/id-mot-rel-stk-proc-owners-pr1.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-mot-goal-pr1.html" target="element"> Maintain a complete and current service portfolio </a> </td>
																		<td> <a href="../elements/id-mot-stk-process-owners.html" target="element"> Process Owners </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-mot-rel-stk-sms-owner-gr1.html" target="element"> is important for </a> </td>
																		<td> <a href="../elements/id-mot-rel-stk-sms-owner-gr1.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-mot-goal-gr1.html" target="element"> Establish a service and process-oriented management culture </a> </td>
																		<td> <a href="../elements/id-mot-stk-sms-owner.html" target="element"> SMS Owner </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-mot-rel-cap-pr12-out9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-mot-rel-cap-pr12-out9.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fitsm-pr12.html" target="element"> Change Management (CHM) </a> </td>
																		<td> <a href="../elements/id-mot-out-9.html" target="element"> Controlled change implementation with post-implementation review </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-mot-rel-stk-sms-manager-pr11.html" target="element"> is important for </a> </td>
																		<td> <a href="../elements/id-mot-rel-stk-sms-manager-pr11.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-mot-goal-pr11.html" target="element"> Maintain accurate configuration baseline </a> </td>
																		<td> <a href="../elements/id-mot-stk-sms-manager.html" target="element"> SMS Manager </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-mot-rel-stk-sms-owner-gr3.html" target="element"> is important for </a> </td>
																		<td> <a href="../elements/id-mot-rel-stk-sms-owner-gr3.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-mot-goal-gr3.html" target="element"> Define and maintain the scope of the SMS </a> </td>
																		<td> <a href="../elements/id-mot-stk-sms-owner.html" target="element"> SMS Owner </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-mot-rel-stk-sms-manager-gr4.html" target="element"> is important for </a> </td>
																		<td> <a href="../elements/id-mot-rel-stk-sms-manager-gr4.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-mot-goal-gr4.html" target="element"> Implement ITSM according to a documented plan </a> </td>
																		<td> <a href="../elements/id-mot-stk-sms-manager.html" target="element"> SMS Manager </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-mot-rel-stk-proc-managers-pr3.html" target="element"> is important for </a> </td>
																		<td> <a href="../elements/id-mot-rel-stk-proc-managers-pr3.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-mot-goal-pr3.html" target="element"> Provide accurate and timely service reporting </a> </td>
																		<td> <a href="../elements/id-mot-stk-process-managers.html" target="element"> Process Managers </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-mot-rel-out12-goal-gr6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-mot-rel-out12-goal-gr6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-mot-out-12.html" target="element"> Increased ITSM maturity level assessable via FitSM-6 </a> </td>
																		<td> <a href="../elements/id-mot-goal-gr6.html" target="element"> Achieve measurable improvement in SMS effectiveness </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-mot-rel-cap-pr14-out11.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-mot-rel-cap-pr14-out11.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fitsm-pr14.html" target="element"> Continual Service Improvement Management (CSI) </a> </td>
																		<td> <a href="../elements/id-mot-out-11.html" target="element"> Documented improvements tracked to completion </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-mot-rel-cap-pr13-out9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-mot-rel-cap-pr13-out9.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fitsm-pr13.html" target="element"> Release &amp; Deployment Management (RDM) </a> </td>
																		<td> <a href="../elements/id-mot-out-9.html" target="element"> Controlled change implementation with post-implementation review </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-mot-rel-out10-goal-pr11.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-mot-rel-out10-goal-pr11.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-mot-out-10.html" target="element"> Accurate CMDB supporting all downstream process decisions </a> </td>
																		<td> <a href="../elements/id-mot-goal-pr11.html" target="element"> Maintain accurate configuration baseline </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-mot-rel-cap-pr1-out1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-mot-rel-cap-pr1-out1.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fitsm-pr1.html" target="element"> Service Portfolio Management (SPM) </a> </td>
																		<td> <a href="../elements/id-mot-out-1.html" target="element"> Up-to-date validated service portfolio with lifecycle management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-mot-rel-stk-sms-owner-gr6.html" target="element"> is important for </a> </td>
																		<td> <a href="../elements/id-mot-rel-stk-sms-owner-gr6.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-mot-goal-gr6.html" target="element"> Achieve measurable improvement in SMS effectiveness </a> </td>
																		<td> <a href="../elements/id-mot-stk-sms-owner.html" target="element"> SMS Owner </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-mot-rel-stk-sms-manager-gr6.html" target="element"> is important for </a> </td>
																		<td> <a href="../elements/id-mot-rel-stk-sms-manager-gr6.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-mot-goal-gr6.html" target="element"> Achieve measurable improvement in SMS effectiveness </a> </td>
																		<td> <a href="../elements/id-mot-stk-sms-manager.html" target="element"> SMS Manager </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-mot-rel-stk-sms-manager-pr12.html" target="element"> is important for </a> </td>
																		<td> <a href="../elements/id-mot-rel-stk-sms-manager-pr12.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-mot-goal-pr12.html" target="element"> Control changes to avoid service disruption </a> </td>
																		<td> <a href="../elements/id-mot-stk-sms-manager.html" target="element"> SMS Manager </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>