<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Domain Overview</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Domain Overview</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/v14_view-overview_domains.png" alt="Domain Overview" usemap="#v14_view-overview_domainsmap"/>
			   <map name="v14_view-overview_domainsmap">
				  		<area shape="rect" coords="1745,327,1947,419" href="../elements/id-fitsm-dom-4.html"  target="element">
				  		<area shape="rect" coords="15,327,217,419" href="../elements/id-fitsm-dom-1.html"  target="element">
				  		<area shape="rect" coords="448,327,650,419" href="../elements/id-fitsm-dom-2.html"  target="element">
				  		<area shape="rect" coords="448,10,650,102" href="../elements/id-fitsm-dom-3.html"  target="element">
				  		<area shape="rect" coords="880,168,1082,260" href="../elements/id-fitsm-dom-6.html"  target="element">
				  		<area shape="rect" coords="1313,327,1515,419" href="../elements/id-fitsm-dom-5.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>tier</td><td class="convertlinks no-margin" style="white-space:pre-wrap">free</td></tr><tr><td>generated_by</td><td class="convertlinks no-margin" style="white-space:pre-wrap">build_archi_xml.py::gen_domain_overview_view</td></tr><tr><td>generator_path</td><td class="convertlinks no-margin" style="white-space:pre-wrap">pedro/capabilities/build_archi_xml/build_archi_xml.py</td></tr><tr><td>run_at</td><td class="convertlinks no-margin" style="white-space:pre-wrap">2026-06-23</td></tr><tr><td>model_code</td><td class="convertlinks no-margin" style="white-space:pre-wrap">ITSMB</td></tr><tr><td>view_type</td><td class="convertlinks no-margin" style="white-space:pre-wrap">system_overview</td></tr>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-fitsm-dom-5.html" target="element"> Control &amp; Change </a> </td>
											    <td> <a href="../elements/id-fitsm-dom-5.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-dom-6.html" target="element"> Improvement </a> </td>
											    <td> <a href="../elements/id-fitsm-dom-6.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-dom-3.html" target="element"> Relationship Management </a> </td>
											    <td> <a href="../elements/id-fitsm-dom-3.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-dom-2.html" target="element"> Service Assurance </a> </td>
											    <td> <a href="../elements/id-fitsm-dom-2.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-dom-1.html" target="element"> Service Design </a> </td>
											    <td> <a href="../elements/id-fitsm-dom-1.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fitsm-dom-4.html" target="element"> Service Operations </a> </td>
											    <td> <a href="../elements/id-fitsm-dom-4.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-c883598c-93a6-4bfd-8904-c135b904aec0.html" target="element"> CMDB for incident resolution </a> </td>
																		<td> <a href="../elements/id-c883598c-93a6-4bfd-8904-c135b904aec0.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fitsm-dom-5.html" target="element"> Control &amp; Change </a> </td>
																		<td> <a href="../elements/id-fitsm-dom-4.html" target="element"> Service Operations </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-dd36557f-ead3-4e48-8e26-ad3f7acabe03.html" target="element"> Change requests for improvements </a> </td>
																		<td> <a href="../elements/id-dd36557f-ead3-4e48-8e26-ad3f7acabe03.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fitsm-dom-6.html" target="element"> Improvement </a> </td>
																		<td> <a href="../elements/id-fitsm-dom-5.html" target="element"> Control &amp; Change </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0d3bd1ee-e6a4-4510-9d38-ab682f37a99a.html" target="element"> Supplier information for agreements </a> </td>
																		<td> <a href="../elements/id-0d3bd1ee-e6a4-4510-9d38-ab682f37a99a.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fitsm-dom-3.html" target="element"> Relationship Management </a> </td>
																		<td> <a href="../elements/id-fitsm-dom-1.html" target="element"> Service Design </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8d86bd64-8a44-49bc-b8c6-029ba67f3369.html" target="element"> Change requests from customer feedback </a> </td>
																		<td> <a href="../elements/id-8d86bd64-8a44-49bc-b8c6-029ba67f3369.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fitsm-dom-3.html" target="element"> Relationship Management </a> </td>
																		<td> <a href="../elements/id-fitsm-dom-5.html" target="element"> Control &amp; Change </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e0103c8e-801d-49d3-bcab-b796dfff8684.html" target="element"> Customer feedback improvement suggestions </a> </td>
																		<td> <a href="../elements/id-e0103c8e-801d-49d3-bcab-b796dfff8684.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fitsm-dom-3.html" target="element"> Relationship Management </a> </td>
																		<td> <a href="../elements/id-fitsm-dom-6.html" target="element"> Improvement </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-330a893b-e4cb-4228-8c72-11527ce3279b.html" target="element"> Service availability data </a> </td>
																		<td> <a href="../elements/id-330a893b-e4cb-4228-8c72-11527ce3279b.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fitsm-dom-2.html" target="element"> Service Assurance </a> </td>
																		<td> <a href="../elements/id-fitsm-dom-1.html" target="element"> Service Design </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3291095e-5a90-42a5-8af3-b9267b35a4cd.html" target="element"> Change requests for capacity </a> </td>
																		<td> <a href="../elements/id-3291095e-5a90-42a5-8af3-b9267b35a4cd.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fitsm-dom-2.html" target="element"> Service Assurance </a> </td>
																		<td> <a href="../elements/id-fitsm-dom-5.html" target="element"> Control &amp; Change </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d85d582d-3ede-495e-9f05-18bb74301d61.html" target="element"> SLAs for capacity requirements </a> </td>
																		<td> <a href="../elements/id-d85d582d-3ede-495e-9f05-18bb74301d61.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fitsm-dom-1.html" target="element"> Service Design </a> </td>
																		<td> <a href="../elements/id-fitsm-dom-2.html" target="element"> Service Assurance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-236ddb7c-3b54-4a82-a073-cd73b7f32c90.html" target="element"> SLAs and reports for reviews </a> </td>
																		<td> <a href="../elements/id-236ddb7c-3b54-4a82-a073-cd73b7f32c90.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fitsm-dom-1.html" target="element"> Service Design </a> </td>
																		<td> <a href="../elements/id-fitsm-dom-3.html" target="element"> Relationship Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fbfc58fd-74f3-41f0-bbb8-0b42c72cb4b3.html" target="element"> SLAs for incident prioritisation </a> </td>
																		<td> <a href="../elements/id-fbfc58fd-74f3-41f0-bbb8-0b42c72cb4b3.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fitsm-dom-1.html" target="element"> Service Design </a> </td>
																		<td> <a href="../elements/id-fitsm-dom-4.html" target="element"> Service Operations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-216e6bae-561b-4959-a8b6-0bc0a1b7cc63.html" target="element"> Change requests for new services </a> </td>
																		<td> <a href="../elements/id-216e6bae-561b-4959-a8b6-0bc0a1b7cc63.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fitsm-dom-1.html" target="element"> Service Design </a> </td>
																		<td> <a href="../elements/id-fitsm-dom-5.html" target="element"> Control &amp; Change </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-08b289ad-49c6-46f5-b50e-29b4606d2ae5.html" target="element"> Service reports for improvement </a> </td>
																		<td> <a href="../elements/id-08b289ad-49c6-46f5-b50e-29b4606d2ae5.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fitsm-dom-1.html" target="element"> Service Design </a> </td>
																		<td> <a href="../elements/id-fitsm-dom-6.html" target="element"> Improvement </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-fda31c40-864e-4304-9da4-c11b744a5583.html" target="element"> Change requests to resolve problems </a> </td>
																		<td> <a href="../elements/id-fda31c40-864e-4304-9da4-c11b744a5583.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fitsm-dom-4.html" target="element"> Service Operations </a> </td>
																		<td> <a href="../elements/id-fitsm-dom-5.html" target="element"> Control &amp; Change </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>