<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Customer Relationship Management (CRM) (processes)</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Customer Relationship Management (CRM) (processes)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/v18_view-Customer_Relationship_Management_CRM_processes.png" alt="Customer Relationship Management (CRM) (processes)" usemap="#v18_view-Customer_Relationship_Management_CRM_processesmap"/>
			   <map name="v18_view-Customer_Relationship_Management_CRM_processesmap">
				  						<area shape="rect" coords="465,74,640,139" href="../elements/id-fitsm-pr3-ag3.html"  target="element">

				  				<area shape="rect" coords="433,42,672,172" href="../elements/id-fitsm-pr3.html"  target="element">
				  						<area shape="rect" coords="465,398,640,463" href="../elements/id-fitsm-pr2-ag2.html"  target="element">
				  						<area shape="rect" coords="465,535,640,600" href="../elements/id-fitsm-pr2-ag1.html"  target="element">

				  				<area shape="rect" coords="433,366,672,633" href="../elements/id-fitsm-pr2.html"  target="element">
				  						<area shape="rect" coords="465,236,640,301" href="../elements/id-fitsm-pr1-ag1.html"  target="element">

				  				<area shape="rect" coords="433,204,672,334" href="../elements/id-fitsm-pr1.html"  target="element">

				  		<area shape="rect" coords="401,10,704,665" href="../elements/id-fitsm-dom-1.html"  target="element">
				  						<area shape="rect" coords="465,737,640,802" href="../elements/id-fitsm-pr14-ag1.html"  target="element">

				  				<area shape="rect" coords="433,705,672,835" href="../elements/id-fitsm-pr14.html"  target="element">

				  		<area shape="rect" coords="401,673,704,867" href="../elements/id-fitsm-dom-6.html"  target="element">
				  						<area shape="rect" coords="465,939,640,1004" href="../elements/id-fitsm-pr12-ag1.html"  target="element">

				  				<area shape="rect" coords="433,907,672,1037" href="../elements/id-fitsm-pr12.html"  target="element">

				  		<area shape="rect" coords="401,875,704,1069" href="../elements/id-fitsm-dom-5.html"  target="element">
				  						<area shape="rect" coords="74,467,249,532" href="../elements/id-fitsm-pr7-ag2.html"  target="element">
				  						<area shape="rect" coords="74,193,249,258" href="../elements/id-fitsm-pr7-ag4.html"  target="element">
				  						<area shape="rect" coords="74,604,249,669" href="../elements/id-fitsm-pr7-ag3.html"  target="element">
				  						<area shape="rect" coords="74,330,249,395" href="../elements/id-fitsm-pr7-ag1.html"  target="element">

				  				<area shape="rect" coords="42,161,281,702" href="../elements/id-fitsm-pr7.html"  target="element">

				  		<area shape="rect" coords="10,129,313,734" href="../elements/id-fitsm-dom-3.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Customer Relationship Management (CRM) executes customer interactions at the Execute level, ensuring enhanced customer satisfaction and loyalty. It progresses through the phases of handling customer complaints, maintaining the customer database, managing customer satisfaction, and performing customer service reviews, from initiation to completion. It receives SLAs and reports for reviews from Service Level Management (SLM) to inform service performance assessments. It produces customer requirements for services for Service Portfolio Management (SPM), enabling alignment of services with customer expectations.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>tier</td><td class="convertlinks no-margin" style="white-space:pre-wrap">paid</td></tr><tr><td>generated_by</td><td class="convertlinks no-margin" style="white-space:pre-wrap">build_archi_xml.py::gen_process_context_view</td></tr><tr><td>generator_path</td><td class="convertlinks no-margin" style="white-space:pre-wrap">pedro/capabilities/build_archi_xml/build_archi_xml.py</td></tr><tr><td>run_at</td><td class="convertlinks no-margin" style="white-space:pre-wrap">2026-06-23</td></tr><tr><td>model_code</td><td class="convertlinks no-margin" style="white-space:pre-wrap">ITSMB</td></tr><tr><td>view_type</td><td class="convertlinks no-margin" style="white-space:pre-wrap">capability_processes</td></tr>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-fitsm-dom-3.html" target="element"> Relationship Management </a> </td>
											    <td> <a href="../elements/id-fitsm-dom-3.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-fitsm-pr7.html" target="element"> Customer Relationship Management (CRM) </a> </td>
													    <td> <a href="../elements/id-fitsm-pr7.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-fitsm-pr7-ag1.html" target="element"> Maintain the customer database </a> </td>
															    <td> <a href="../elements/id-fitsm-pr7-ag1.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-fitsm-pr7-ag3.html" target="element"> Handle customer complaints </a> </td>
															    <td> <a href="../elements/id-fitsm-pr7-ag3.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-fitsm-pr7-ag4.html" target="element"> Manage customer satisfaction </a> </td>
															    <td> <a href="../elements/id-fitsm-pr7-ag4.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-fitsm-pr7-ag2.html" target="element"> Perform customer service reviews </a> </td>
															    <td> <a href="../elements/id-fitsm-pr7-ag2.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-fitsm-dom-5.html" target="element"> Control &amp; Change </a> </td>
											    <td> <a href="../elements/id-fitsm-dom-5.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-fitsm-pr12.html" target="element"> Change Management (CHM) </a> </td>
													    <td> <a href="../elements/id-fitsm-pr12.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-fitsm-pr12-ag1.html" target="element"> Manage change evaluation and approval </a> </td>
															    <td> <a href="../elements/id-fitsm-pr12-ag1.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-fitsm-dom-6.html" target="element"> Improvement </a> </td>
											    <td> <a href="../elements/id-fitsm-dom-6.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-fitsm-pr14.html" target="element"> Continual Service Improvement Management (CSI) </a> </td>
													    <td> <a href="../elements/id-fitsm-pr14.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-fitsm-pr14-ag1.html" target="element"> Manage evaluation of improvements </a> </td>
															    <td> <a href="../elements/id-fitsm-pr14-ag1.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-fitsm-dom-1.html" target="element"> Service Design </a> </td>
											    <td> <a href="../elements/id-fitsm-dom-1.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-fitsm-pr1.html" target="element"> Service Portfolio Management (SPM) </a> </td>
													    <td> <a href="../elements/id-fitsm-pr1.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-fitsm-pr1-ag1.html" target="element"> Manage demand and service proposals </a> </td>
															    <td> <a href="../elements/id-fitsm-pr1-ag1.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-fitsm-pr2.html" target="element"> Service Level Management (SLM) </a> </td>
													    <td> <a href="../elements/id-fitsm-pr2.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-fitsm-pr2-ag1.html" target="element"> Maintain service catalogues </a> </td>
															    <td> <a href="../elements/id-fitsm-pr2-ag1.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-fitsm-pr2-ag2.html" target="element"> Maintain SLAs </a> </td>
															    <td> <a href="../elements/id-fitsm-pr2-ag2.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-fitsm-pr3.html" target="element"> Service Reporting Management (SRM) </a> </td>
													    <td> <a href="../elements/id-fitsm-pr3.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-fitsm-pr3-ag3.html" target="element"> Monitor the production and distribution of reports </a> </td>
															    <td> <a href="../elements/id-fitsm-pr3-ag3.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																					<tr>
																						<td> <a href="../elements/id-fitsm-flow-45.html" target="element"> Customer requirements and demand data </a> </td>
																						<td> <a href="../elements/id-fitsm-flow-45.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-fitsm-pr7-ag1.html" target="element"> Maintain the customer database </a> </td>
																						<td> <a href="../elements/id-fitsm-pr1-ag1.html" target="element"> Manage demand and service proposals </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-fitsm-flow-46.html" target="element"> Customer-specific service level requirements </a> </td>
																						<td> <a href="../elements/id-fitsm-flow-46.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-fitsm-pr7-ag1.html" target="element"> Maintain the customer database </a> </td>
																						<td> <a href="../elements/id-fitsm-pr2-ag2.html" target="element"> Maintain SLAs </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-fitsm-flow-10.html" target="element"> Change requests from customer feedback </a> </td>
																						<td> <a href="../elements/id-fitsm-flow-10.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-fitsm-pr7-ag3.html" target="element"> Handle customer complaints </a> </td>
																						<td> <a href="../elements/id-fitsm-pr12-ag1.html" target="element"> Manage change evaluation and approval </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-fitsm-flow-11.html" target="element"> Customer feedback improvement suggestions </a> </td>
																						<td> <a href="../elements/id-fitsm-flow-11.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-fitsm-pr7-ag2.html" target="element"> Perform customer service reviews </a> </td>
																						<td> <a href="../elements/id-fitsm-pr14-ag1.html" target="element"> Manage evaluation of improvements </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-fitsm-flow-12.html" target="element"> Customer SLA requirements </a> </td>
																						<td> <a href="../elements/id-fitsm-flow-12.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-fitsm-pr7-ag2.html" target="element"> Perform customer service reviews </a> </td>
																						<td> <a href="../elements/id-fitsm-pr2-ag2.html" target="element"> Maintain SLAs </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-fitsm-flow-13.html" target="element"> Customer requirements for services </a> </td>
																						<td> <a href="../elements/id-fitsm-flow-13.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-fitsm-pr7-ag2.html" target="element"> Perform customer service reviews </a> </td>
																						<td> <a href="../elements/id-fitsm-pr1-ag1.html" target="element"> Manage demand and service proposals </a> </td>
																					</tr>

													
											
													
											
													
											
													
																					<tr>
																						<td> <a href="../elements/id-fitsm-flow-26.html" target="element"> Service catalogue for customers </a> </td>
																						<td> <a href="../elements/id-fitsm-flow-26.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-fitsm-pr2-ag1.html" target="element"> Maintain service catalogues </a> </td>
																						<td> <a href="../elements/id-fitsm-pr7-ag2.html" target="element"> Perform customer service reviews </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-fitsm-flow-27.html" target="element"> SLAs and reports for reviews </a> </td>
																						<td> <a href="../elements/id-fitsm-flow-27.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-fitsm-pr2-ag2.html" target="element"> Maintain SLAs </a> </td>
																						<td> <a href="../elements/id-fitsm-pr7-ag2.html" target="element"> Perform customer service reviews </a> </td>
																					</tr>

													
																					<tr>
																						<td> <a href="../elements/id-fitsm-flow-38.html" target="element"> Reports for customer management </a> </td>
																						<td> <a href="../elements/id-fitsm-flow-38.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-fitsm-pr3-ag3.html" target="element"> Monitor the production and distribution of reports </a> </td>
																						<td> <a href="../elements/id-fitsm-pr7-ag4.html" target="element"> Manage customer satisfaction </a> </td>
																					</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>