<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Maintain the supplier database - Context</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Maintain the supplier database - Context</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/view-3f6ca6b7912445f2.png" alt="Maintain the supplier database - Context" usemap="#view-3f6ca6b7912445f2map"/>
			   <map name="view-3f6ca6b7912445f2map">
				  		<area shape="rect" coords="60,624,235,689" href="../elements/id-role-supplier-rel-manager.html"  target="element">
				  				<area shape="rect" coords="60,487,235,552" href="../elements/APP-MOD-003-01.html"  target="element">

				  		<area shape="rect" coords="10,439,287,577" href="../elements/APP-DOM-003.html"  target="element">
				  				<area shape="rect" coords="60,341,235,406" href="../elements/APP-MOD-004-01.html"  target="element">

				  		<area shape="rect" coords="22,293,274,431" href="../elements/APP-DOM-004.html"  target="element">
				  				<area shape="rect" coords="60,58,235,123" href="../elements/APP-MOD-007-02.html"  target="element">
				  				<area shape="rect" coords="60,195,235,260" href="../elements/APP-MOD-007-04.html"  target="element">

				  		<area shape="rect" coords="24,10,273,285" href="../elements/APP-DOM-007.html"  target="element">
				  						<area shape="rect" coords="870,341,1045,406" href="../elements/id-fitsm-pr2-ag3.html"  target="element">

				  				<area shape="rect" coords="838,309,1077,439" href="../elements/id-fitsm-pr2.html"  target="element">
				  						<area shape="rect" coords="870,503,1045,568" href="../elements/id-fitsm-pr1-ag3.html"  target="element">

				  				<area shape="rect" coords="838,471,1077,600" href="../elements/id-fitsm-pr1.html"  target="element">

				  		<area shape="rect" coords="806,277,1109,632" href="../elements/id-fitsm-dom-1.html"  target="element">
				  						<area shape="rect" coords="479,341,654,406" href="../elements/id-fitsm-pr8-ag1.html"  target="element">

				  				<area shape="rect" coords="447,309,686,439" href="../elements/id-fitsm-pr8.html"  target="element">

				  		<area shape="rect" coords="415,277,718,471" href="../elements/id-fitsm-dom-3.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>generated_by</td><td class="convertlinks no-margin" style="white-space:pre-wrap">build_archi_xml.py::gen_proc_node_context_view</td></tr><tr><td>generator_path</td><td class="convertlinks no-margin" style="white-space:pre-wrap">pedro/capabilities/build_archi_xml/build_archi_xml.py</td></tr><tr><td>run_at</td><td class="convertlinks no-margin" style="white-space:pre-wrap">2026-06-21T19:43:13</td></tr><tr><td>model_code</td><td class="convertlinks no-margin" style="white-space:pre-wrap">ITSMB</td></tr><tr><td>view_type</td><td class="convertlinks no-margin" style="white-space:pre-wrap">process_context</td></tr>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-fitsm-dom-3.html" target="element"> Relationship Management </a> </td>
											    <td> <a href="../elements/id-fitsm-dom-3.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-fitsm-pr8.html" target="element"> Supplier Relationship Management (SUPPM) </a> </td>
													    <td> <a href="../elements/id-fitsm-pr8.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-fitsm-pr8-ag1.html" target="element"> Maintain the supplier database </a> </td>
															    <td> <a href="../elements/id-fitsm-pr8-ag1.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-fitsm-dom-1.html" target="element"> Service Design </a> </td>
											    <td> <a href="../elements/id-fitsm-dom-1.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-fitsm-pr1.html" target="element"> Service Portfolio Management (SPM) </a> </td>
													    <td> <a href="../elements/id-fitsm-pr1.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-fitsm-pr1-ag3.html" target="element"> Manage services through their lifecycle </a> </td>
															    <td> <a href="../elements/id-fitsm-pr1-ag3.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-fitsm-pr2.html" target="element"> Service Level Management (SLM) </a> </td>
													    <td> <a href="../elements/id-fitsm-pr2.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-fitsm-pr2-ag3.html" target="element"> Maintain supporting agreements (OLAs and UAs) </a> </td>
															    <td> <a href="../elements/id-fitsm-pr2-ag3.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/APP-DOM-007.html" target="element"> Risk &amp; Compliance Management </a> </td>
											    <td> <a href="../elements/APP-DOM-007.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/APP-MOD-007-04.html" target="element"> Vendor Risk Management </a> </td>
													    <td> <a href="../elements/APP-MOD-007-04.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/APP-MOD-007-02.html" target="element"> Policy &amp; Compliance Management </a> </td>
													    <td> <a href="../elements/APP-MOD-007-02.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/APP-DOM-004.html" target="element"> Configuration &amp; Service Mapping </a> </td>
											    <td> <a href="../elements/APP-DOM-004.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/APP-MOD-004-01.html" target="element"> Configuration Management Database </a> </td>
													    <td> <a href="../elements/APP-MOD-004-01.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/APP-DOM-003.html" target="element"> Service Catalog &amp; Request Fulfillment </a> </td>
											    <td> <a href="../elements/APP-DOM-003.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/APP-MOD-003-01.html" target="element"> Service Catalog Management </a> </td>
													    <td> <a href="../elements/APP-MOD-003-01.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-role-supplier-rel-manager.html" target="element"> Supplier Relationship Manager </a> </td>
											    <td> <a href="../elements/id-role-supplier-rel-manager.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																					<tr>
																						<td> <a href="../elements/id-fitsm-flow-40.html" target="element"> Supplier information for agreements </a> </td>
																						<td> <a href="../elements/id-fitsm-flow-40.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-fitsm-pr8-ag1.html" target="element"> Maintain the supplier database </a> </td>
																						<td> <a href="../elements/id-fitsm-pr2-ag3.html" target="element"> Maintain supporting agreements (OLAs and UAs) </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-fitsm-flow-41.html" target="element"> Supplier information for OLAs UAs </a> </td>
																						<td> <a href="../elements/id-fitsm-flow-41.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-fitsm-pr8-ag1.html" target="element"> Maintain the supplier database </a> </td>
																						<td> <a href="../elements/id-fitsm-pr2-ag3.html" target="element"> Maintain supporting agreements (OLAs and UAs) </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-fitsm-flow-42.html" target="element"> Supplier information for delivery </a> </td>
																						<td> <a href="../elements/id-fitsm-flow-42.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-fitsm-pr8-ag1.html" target="element"> Maintain the supplier database </a> </td>
																						<td> <a href="../elements/id-fitsm-pr1-ag3.html" target="element"> Manage services through their lifecycle </a> </td>
																					</tr>

													
											
																					<tr>
																						<td> <a href="../elements/id-fitsm-flow-37.html" target="element"> Supplier information for new suppliers </a> </td>
																						<td> <a href="../elements/id-fitsm-flow-37.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-fitsm-pr1-ag3.html" target="element"> Manage services through their lifecycle </a> </td>
																						<td> <a href="../elements/id-fitsm-pr8-ag1.html" target="element"> Maintain the supplier database </a> </td>
																					</tr>

													
													
											
																			<tr>
																				<td> <a href="../elements/id-appsvc-300e867ca903.html" target="element"> Supplier Record Management </a> </td>
																				<td> <a href="../elements/id-appsvc-300e867ca903.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/APP-MOD-007-04.html" target="element"> Vendor Risk Management </a> </td>
																				<td> <a href="../elements/id-fitsm-pr8-ag1.html" target="element"> Maintain the supplier database </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-appsvc-82decc03b116.html" target="element"> Compliance Validation Screen </a> </td>
																				<td> <a href="../elements/id-appsvc-82decc03b116.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/APP-MOD-007-02.html" target="element"> Policy &amp; Compliance Management </a> </td>
																				<td> <a href="../elements/id-fitsm-pr8-ag1.html" target="element"> Maintain the supplier database </a> </td>
																			</tr>

											
																			<tr>
																				<td> <a href="../elements/id-appsvc-e95a5fae93b3.html" target="element"> Supplier Database Update API </a> </td>
																				<td> <a href="../elements/id-appsvc-e95a5fae93b3.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/APP-MOD-004-01.html" target="element"> Configuration Management Database </a> </td>
																				<td> <a href="../elements/id-fitsm-pr8-ag1.html" target="element"> Maintain the supplier database </a> </td>
																			</tr>

											
																			<tr>
																				<td> <a href="../elements/id-appsvc-868485518582.html" target="element"> Supplier Data Request Form </a> </td>
																				<td> <a href="../elements/id-appsvc-868485518582.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/APP-MOD-003-01.html" target="element"> Service Catalog Management </a> </td>
																				<td> <a href="../elements/id-fitsm-pr8-ag1.html" target="element"> Maintain the supplier database </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-rel-sup-rel-mgr-proc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-rel-sup-rel-mgr-proc.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-role-supplier-rel-manager.html" target="element"> Supplier Relationship Manager </a> </td>
																		<td> <a href="../elements/id-fitsm-pr8-ag1.html" target="element"> Maintain the supplier database </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>